

body {
 
 text-transform:none;
}

.ui-header .ui-title { 
    margin-right: 0 !important;
    margin-left: 0 !important;
    text-align: left;
    height: 30px;
    text-transform: uppercase;
}


#Page1_content{
    background-image:url(images/pic.jpg); 
    font-weight:bolder;   
}